package menupage

import (
	"p_dm_aa01_hafsa/internal/modules/menu/components"
	"p_dm_aa01_hafsa/ui"
)

templ MenuPage() {
	@ui.BaseComponent("", "MenuPage", true) {
		@ui.GeneralLayout(components.HeroSection(), components.MenuSection())
	}
}
